* {
	font-family: georgia;
}
html {
	border-top: solid 10px darkred; padding: 0px; margin: 0px;
}
body {
	font-family: sans-serif;
	width: 50%; 
	margin-top: 3%;
	line-height: 150%;
}
h1,h2,h3,h4,h5 {
	font-family: helvetica;
	color: darkred;
}
input.submit { background-color: lightyellow ; width: 10%; font-size: 100%; margin: 1%; }
span.req     { color: red; }
input        { background-color: lightyellow; }
legend       { yellow; border: dotted 1px lightgray ;}
ol	 	{ padding-left: 4%; }
.req_mark    { background-color: lightyellow; }
.expl        { color: darkgray; }
.important	{ background-color: lightyellow; }

@media only screen and (max-device-width: 587px) {
    body {
	font-size: 220%;
	width: 100%;
    }
    p {
	margin-left: 10px;
	margin-right: 10px;
	line-height: 200%;
    }
    input {
    	font-size: 150%;
    }

    input[type="checkbox"] {
        zoom: 3;
    }
    input[type="checkbox"]:checked {
        background-color: green;
    }

    input[type=radio] {
        zoom: 3;
    }
    input[type=radio]:checked {
        background-color: green;
    }

    input[type="text"] {
        width: 100%;
    }
    input[type="submit"] {
    	width: 100%;
	background-color: lightgreen;
	font-size: 200%;
    }
    form {
    	width: 100%;
    }
    .mptm_months { margin-bottom: 5%; }
}
